body {
  font-family: 'Inknut Antiqua', serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #845555;
  height: 100%;
}

/* Header & Navigation */
.header, .nav {
  background-color: #D6435B;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

.header {
  height: 70px;
  margin: 0;
}

.header h1, .nav h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header nav a, .content .nav nav a {
  margin: 0 2.5rem;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

/* General Button Style */
button {
  font-family: 'Inknut Antiqua', serif;
}

/* Logo */
.logo {
  width: 11.5rem;
  height: auto;
  margin-top: 0;
  padding-top: 0;
}

/* Hero Section */
.hero {
  background-color: #D6435B;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login Box */
.login-box {
  background: white;
  color: #845555;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1.5rem;
  max-width: 18.75rem;
  margin: 0 auto 6.25rem;
}

.login-box input {
  width: 100%;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
  background-color: #D6435B;
  color: #fff;
  font-size: 1rem;
  padding: 0.625rem;
}

::placeholder {
  color: white;
  opacity: 0.75;
}

.login-box button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #D6435B;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* Confirmation Section */
.confirmed {
  text-align: center;
  background-color: #fff;
}

.confirmed-msg {
  margin-top: 9.375rem;
}

.confirmed-msg h2 {
  color: #845555;
  margin-bottom: 0.313rem;
}

.confirmed-msg p {
  margin: 0.313rem 0 1.563rem;
}

.confirmed-msg a button {
  background-color: #D6435B;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 0.625rem;
}

.content h2{
  margin-left: 2.3rem;
}
/* Game, Read, See Sections */
.game main, .see main, .read main {
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 8.125rem;
}

.game main p, .see main p, .read main p {
  font-size: 1.125rem;
  margin-top: 3rem;
  margin-bottom: 2.813rem;
  font-weight: bold;
}

.game-play main{
  background-color: #D6435B;
  height: 550px;
  margin-top: -50px;
  justify-content: center;
}
.game-play main p{
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 80px;
  line-height: 65px;
  
}
.game-play main a button{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  border-radius: 999px;
  color: #D6435B;
  min-width: 120px
 }

.game-play main a{
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
 }

 .game-play main .notes{
  font-size: small;
  font-weight: lighter;
  margin-top: -60px
 }

 .gede{
  font-size: 2rem;
  padding: 1.2rem 2.5rem;
  margin-bottom: 1rem;
  margin-left: 37%;
  margin-top: 1rem;
 }

 .sedang{
  margin-left: 35rem;
  margin-top: 25px;
 }

 .kecil{
  margin-left: 75%;
  margin-top: 80px;
  font-size: 9px;
 }
.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  margin-top: 25px;
}

.button-container button {
  font-family: 'Inknut Antiqua', serif;
  background-color: white;
  color: #d2435c;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 999px;
  font-size: 1.5rem;
  text-align: center;
  white-space: normal;
  line-height: 45px;
}

.button-container .friki{
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
}

.read-txt main button{
  margin-bottom: 4rem;
  width: fit-content;
}

.see main img {
  height: 7.5rem;
}

.see main .note {
  font-size: 0.875rem;
  font-weight: lighter;
  margin-top: 1.25rem;
}

/* Card & Menu */
.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem 0;
}

.card {
  background-color: #D6435B;
  color: white;
  padding: 1rem;
  border-radius: 1.563rem;
  width: 12.5rem;
  text-align: center;

}

.card .pic-box {
  background-color: white;
  color: #845555;
  padding: 0;
  margin-bottom: 0;
}

.card button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  min-width: 7.5rem;
  background: white;
  color: #D6435B;
  border: none;
  border-radius: 1.563rem;
  font-weight: bold;
  cursor: pointer;
}

/* Circle Images */
.circle {
  width: 9.375rem;
  height: 9.375rem;
  background-color: #cc4452;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.profile-card {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem;
}

/* Read Text Area */
.read-txt main {
  max-width: 53.125rem;
  margin: 4.375rem 1rem 0 6.25rem;
}

.read-txt main a button {
  text-align: right;
  margin-top: 2.5rem;
  padding-left: 1.25rem;
}

.read-txt main h2{
  font-size: 30px;
  font-weight: lighter;
}

/* Big Picture Section */
.big-pic {
  background-color: #D6435B;
  color: white;
  padding: 4rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

/* Footer */
.footer {
  background-color: #D6435B;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  color: white;
  font-size: 0.75rem;
}

.footer a {
  text-decoration: none;
  color: white;
  margin: 0;
  display: block;
  padding: 0;
}

/* Utility Buttons */
.btn-pink {
  background-color: #D6435B;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 0.625rem;
  min-width: 7.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header, .nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    height: auto;
  }

  .header nav a {
    margin: 0.5rem 0.7rem;
    font-size: 1.2rem;
  }

  .logo {
    width: 9.375rem;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.8rem;
  }

  .cards, .menus, .menu-pic {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .content h2{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
  }

  .read-txt main {
    margin: 1.5rem 1rem;
    font-size: smaller;
    max-width: 400px;
    word-wrap: break-word;       /* memaksa kata turun ke baris baru */
    overflow-wrap: break-word;   /* versi modern, sebaiknya pakai */
    word-break: break-word;      /* bantu potong kata kalau perlu */
    white-space: normal; 
  }

  .card {
    width: 80%;
    max-width: 18.75rem;
    text-align: center;
  }

  .login-box {
    width: 90%;
    max-width: 20rem;
  }

  .big-pic {
    padding: 2rem;
  }

  .read main, .game main, .see main {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .read main p, .game main p, .see main p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1rem;
  }

  .see main img {
    height: 5rem;
  }

  .btn-pink,
  .confirmed-msg a button,
  .card button {
    width: fit-content;
    font-size: 0.8rem;
    padding-left: 0;
  }

  .login-box input {
    font-size: 1rem;
    padding: 0.625rem;
  }

  .circle {
    width: 7.5rem;
    height: 7.5rem;
  }
  .game-play main {
  background-color: #D6435B;
  padding: 3rem 1rem;
  text-align: center;
  height: 790px;
  }

  .game-play main p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 2rem;
    font-family: 'Inknut Antiqua', serif;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .button-container a {
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
  }

  .button-container button {
    border: none;
    border-radius: 999px;
    background-color: white;
    color: #D6435B;
    white-space: nowrap;
  }

  /* Ukuran tombol */
  .gede {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-left: 80px;
  }
  .sedang {
    font-size: 0.8rem;
    padding: 0.8rem 2rem;
    margin: 1rem auto;
    display: block;
  }

  .kecil {
    font-size: 0.4rem;
    padding: 0.3rem 1rem;
    margin-top: 200px;
    margin-right: 25px;
    margin-left: 200px;
  }

}
